<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글보기</title>

    <!-- JQuery import -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // 페이지가 로딩되자마자 게시글의 view를 하나 증가시킵니다.
            // 아래와 같이 사용하면 jinja2 템플릿에서 사용된 값을 JavaScript로 가져올 수 있습니다.
            increaseView('{{ post._id | safe }}', {{ post.views | safe }})
        })

        function addComment() {
            const comment = $('#comment').val()
            $.ajax({
                type: "POST",
                url: "/api/comment",
                data: {comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }

        function deleteComment(idx) {
            $.ajax({
                type: "DELETE",
                url: `/api/comment/${idx}`,
                data: {},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }

        function likePost(idx) {
            $.ajax({
                type: "PUT",
                url: `/api/like/${idx}`,
                data: {},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }

        function deletePost(idx) {
            $.ajax({
                type: "DELETE",
                url: `/api/post/${idx}`,
                data: {},
                success: function (response) {
                    alert(response['msg'])
                    location.href = '/';
                }
            })
        }

        function increaseView(idx, currentCount) {
            const newCount = currentCount + 1

            $.ajax({
                type: "PUT",
                url: `/api/view/${idx}`,
                data: {increased_give: newCount},
                success: function (response) {
                    return
                }
            })
        }

        function increaseCount(idx, selectedTitle, position) {
            $.ajax({
                type: "PUT",
                url: `/api/count/${idx}`,
                data: {position_give: position, title_give: selectedTitle},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }
    </script>
</head>
<body>
    {# 헤더 #}
    <header>
        <div>
            <h1>
                <img src="" alt="Logo">
            </h1>
            <a href="/">모든 밸런스게임 보기</a>
            <a href="/post">밸런스게임 만들기</a>
        </div>
        <div>
            <a href="/login">로그인</a>
            <a href="/post">회원가입</a>
        </div>
    </header>

    {# 본문 #}
    <section>
        <div>
            <img src="{{ post.img_url_left }}" onclick="increaseCount('{{ post._id }}', '{{ post.img_title_left }}', 'left')">
                {{ post.img_title_left }}
                {{ post.count_left }}명이 선택했어요! ({{ percent_left }}%)
            </img>
            <img src="{{ post.img_url_right }}" onclick="increaseCount('{{ post._id }}', '{{ post.img_title_right }}', 'right')">
                {{ post.img_title_right }}
                {{ post.count_right }}명이 선택했어요! ({{ percent_right }}%)
            </img>
        </div>
        <h1>
            {{ post.img_title_left }} vs {{ post.img_title_right }}
            {% if is_gold_balance == True %}
                <button type="button">황금 밸런스</button>
            {% endif %}
            <div>
                <p>50:50의 비율에 가까운 상태의 게시물을 황금밸런스라고 한답니다! A와 B의 우열을 가릴 수 없는 상태라고 보면 되겠죠?</p>
            </div>
        </h1>

        <p>
            {{ post.views }}명이 봤어요
        </p>

        <p>
            <button type="button" onclick="likePost('{{ post._id }}')">❤</button>
            {{ post.likes }}명이 좋아해요
        </p>

        <p>
            {{ post.contents }}
        </p>

        <a href="/post">수정</a>
        <button type="button" onclick="deletePost('{{ post._id }}')">삭제</button>
        <div>
            <p>정말로 삭제하시겠어요?</p>
        </div>

        <form>
            <label for="comment">의견을 자유롭게 남겨주세요!</label>
            <textarea id="comment"></textarea>
            <button type="button" onclick="addComment()">등록하기</button>
        </form>

        <h2>댓글({{ comments_count }}개)</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <span>{{ comment.name }}</span>
                    <p>
                        {{ comment.contents }}
                    </p>
                    <button type="button">수정</button>
                    <button type="button" onclick="deleteComment('{{ comment._id }}')">삭제</button>
                </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>